.tour {
  ul.pf1-tour {
    display: grid;
    gap: 0.5rem;
  }

  &#tooltip .content .icon-pf.text-icon {
    display: inline-block;
    // Same as the tooltip. SVG needs static dimensions
    width: var(--font-size-16);
    height: var(--font-size-16);
    background-color: var(--color-select-option-bg);
  }
}
