.application.pf1-v2 {
  background-color: var(--pf1-v2-background-app);
  border-radius: var(--pf1-v2-border-radius);
  border: unset;
  font-family: var(--pf1-v2-font);

  .window-header {
    background-color: var(--pf1-v2-background-app-header);
    color: var(--pf1-v2-text-app-header);
    border-color: var(--pf1-v2-border-app-header);

    h1 {
      color: var(--pf1-v2-text-app-header);
    }

    button {
      &:is(:hover, :active, :focus) {
        background-color: rgba(255, 255, 255, 0.15);
        outline: unset;
        box-shadow: unset;
      }
    }
  }

  &.no-padding {
    .window-content {
      padding: 0;

      > :not(section) {
        padding: 0 1rem 1rem;
      }
    }
  }

  .window-content {
    display: flex;
    gap: 0.75rem;
    color: var(--pf1-v2-text);

    > * {
      padding-top: 0;
      padding-bottom: 0;
    }

    * {
      scrollbar-color: var(--pf1-v2-border-secondary) transparent;
    }

    nav.tabs {
      border-bottom: var(--pf1-v2-border-width-wide) solid var(--pf1-v2-color-primary);
      display: flex;
      gap: 0;

      line-height: 1.5;

      a {
        display: block;
        flex: 1;
        color: var(--pf1-v2-text-primary);
        font-size: var(--font-size-18);
        text-shadow: unset;
        border-top-left-radius: var(--pf1-v2-border-radius);
        border-top-right-radius: var(--pf1-v2-border-radius);
        text-decoration: none;
        font-family: var(--pf1-v2-font-tabs);
        font-variant: var(--pf1-v2-font-tabs-variant);
        font-weight: bold;
        padding: 0.25rem 0 calc(0.25rem - var(--pf1-v2-border-width-wide));

        &:hover {
          background: var(--pf1-v2-background-fade-10);
        }

        &.active {
          background: var(--pf1-v2-background-primary);
          color: var(--pf1-v2-checkbox-color);
        }
      }
    }

    .form-group {
      p.hint {
        margin: 0.25rem 0 0.5rem;
      }
      margin-bottom: 0.5rem;

      &.inline-stacked {
        display: flex;
      }
    }

    .form-footer {
      display: flex;
      gap: 0.5rem;

      button {
        height: calc(1.25 * var(--input-height));
      }
    }
  }
}
