/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */

@font-face {
  font-family: "Modesto Condensed Bold";
  src: url("../../fonts/modesto-condensed/modesto-condensed-bold.woff2") format("woff2");
}

// Font mixin
.modesto() {
  font-family: "Modesto Condensed Bold", "Signika", "Palatino Linotype", serif;
  font-size: var(--font-size-24);
  font-variant: small-caps;
}

// Mixin to help identify unused style
.unused() {
  background-color: darkred;
  color: yellow;
}

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */

.itemBackgroundBase(@base, @alt, @hover) {
  background-color: @base;
  &:nth-child(even) {
    background-color: @alt;
  }
  &:hover {
    background-color: @hover;
    color: var(--pf1-item-list-hover-text);
  }
  &.active {
    background-color: rgba(32, 32, 96, 0.2);
  }
}

.itemBackground() {
  .itemBackgroundBase(var(--pf1-item-list-bg), var(--pf1-item-list-bg-alt), var(--pf1-item-list-hover-bg));
}

.pf1 {
  hr {
    width: 100%;
  }
}

:root {
  --pf1-nav-height: 1.3em;
  --pf1-sheet-background: url("../../ui/parchment.jpg") repeat;
  --pf1-border-groove: 2px groove #eeede0;

  --pf1-damage-icon-size: 4rem;
}

.scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: var(--pf1-scrollbar-handle) var(--pf1-scrollbar-background);
}
