.chat-message {
  .dice-roll {
    .roll {
      &.die,
      &.fatedie,
      &.coin {
        color: var(--pf1-roll-normal);
      }

      &.die.success,
      &.die.max,
      &.fatedie.success,
      &.coin.heads {
        color: var(--pf1-roll-success-alt);
        filter: sepia(0.5) hue-rotate(60deg);
      }

      &.die.failure,
      &.fatedie.failure,
      &.coin.tails {
        color: var(--pf1-roll-failure-alt);
        filter: sepia(0.5) hue-rotate(-60deg);
      }
    }

    .dice-total {
      &.success {
        color: royalblue;
      }
      &.failure {
        color: darkred;
      }
    }

    .difficulty-class {
      font-size: var(--font-size-14);
      font-weight: bold;
      order: 5; // Override Foundry styling
      text-align: center;
    }
  }

  // Take X and formula replacement
  .flavor-text {
    i.abnormal {
      color: maroon;
    }
  }
}
