.application.pf1-v2.settings {
  :is([data-application-part="form"], .tab) {
    > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;

      > :last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
