.pf1-v2.application.damage-type-selector {
  .form-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;

    .damage-type-container {
      display: flex;
      gap: 1rem;

      :is(.damage-type-categories, .damage-modifiers) {
        overflow-y: auto;
        max-height: 100%;

        .icon-row {
          padding: 0.5rem 0;
        }
      }

      .damage-type-categories {
        flex: 2;
      }

      .damage-modifiers {
        border-left: var(--pf1-v2-border-width) solid var(--pf1-v2-border-muted);
        padding-left: 0.5rem;

        .icon-row {
          justify-content: center;
        }
      }

      :is(.damage-types, .damage-modifiers) {
        label {
          width: 100%;
          text-align: center;
          font-weight: bold;
          font-size: var(--font-size-24);

          display: flex;
          align-items: center;
          gap: 0.5rem;

          &:before,
          &:after {
            content: "";
            flex: 1;
            height: 1px;
            border-top: var(--pf1-v2-border-width) solid var(--pf1-v2-border-muted);
          }
        }

        .icon-pf {
          font-size: var(--pf1-damage-icon-size);
          text-shadow: 0 0 4px black;
          background: none;
          width: 64px;
          height: 64px;
        }
      }
    }

    .icon-row {
      display: grid;
      flex-flow: row wrap;
      grid-template-columns: repeat(auto-fit, 80px);
      grid-gap: 0.4rem;

      .damage-type {
        cursor: pointer;
        width: 80px;
        padding: 0.25rem;
        align-items: center;
        position: relative;
        border: var(--pf1-v2-border-width) solid transparent;

        display: grid;
        justify-items: center;
        grid-row-gap: 2px;

        &:hover {
          border-color: var(--pf1-v2-border-muted);
        }

        &.toggled {
          border-color: var(--pf1-v2-border-primary);

          &:hover {
            border-color: var(--pf1-v2-border-tertiary);
          }
        }

        input[type="checkbox"] {
          position: absolute;
          top: 0.25rem;
          right: 0.25rem;
        }

        img {
          height: 72px;
          width: 72px;
          object-fit: cover;
          object-position: 50% 0;
        }

        span {
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
        }

        .icon-pf {
          &:is(.ra-archery-target, .ra-hand, .ra-uncertainty, .ra-bomb-explosion) {
            &:before {
              color: var(--pf1-v2-text);
            }
          }
        }
      }
    }
  }
}
