.pf1-v2.help-browser {
  min-height: 420px;
  min-width: 540px;

  section.window-content {
    padding: 0;
  }

  section.form-body {
    height: 100%;
  }

  a {
    text-decoration: underline;
  }

  [data-url="helphome"] ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.5rem;
    column-gap: 1rem;
    padding: 0;

    > li {
      margin: 0;
    }
  }

  .top-bar {
    padding: 0.5rem 1rem;
    flex: 0 0 43px;
    border-bottom: 1px solid var(--pf1-v2-border-app);

    > * {
      margin-right: 8px;
    }

    i {
      font-size: var(--font-size-24);
      color: var(--pf1-v2-text-primary);
    }

    i.gray {
      color: var(--pf1-v2-text-muted);
    }
  }

  .primary {
    height: calc(100% - 43px);
  }

  .content {
    height: 100%;
    overflow: auto;
    padding: 0.5rem 1rem 0;

    * {
      user-select: text;
    }

    table {
      width: unset;
      margin: 0;
    }

    code {
      // Monospace fonts are generally larger than normal fonts
      font-size: var(--font-size-12);
    }

    :is(h2, h3, h4) code {
      font-size: inherit;
    }
  }
}
