.pf1-v2.application.party-rest {
  > .resting {
    cursor: wait;

    * {
      pointer-events: none;
    }
  }

  .actor-list {
    margin: 0;
    padding: 0;

    th.toggle {
      cursor: pointer;
      width: calc(20px + 0.5rem);
      padding: 0.5rem 0;
    }

    td {
      padding: 0.25rem;

      &.image {
        width: calc(32px + 0.5rem);
      }

      &:not(.name) {
        text-align: center;
      }
    }

    img {
      width: 32px;
      height: 32px;
    }

    .toggle {
      text-align: center;
      justify-self: center;
      white-space: nowrap;
    }
  }

  .duration {
    .form-fields {
      gap: 1rem;
    }

    .watch-shift {
      flex: 0;
      white-space: nowrap;
    }
  }

  .watches .choices label {
    white-space: nowrap;
  }

  .watch-length {
    .form-fields {
      flex: 0;

      white-space: nowrap;
    }
  }

  .shift-duration {
    color: var(--pf1-v2-text-primary);
    font-weight: bold;
  }
}
