.chat-message.pf1.basic-check {
  .message-content {
    //
    .dice-result {
      .roll-total {
        &.dice-total {
          // Prettify roll total display
          > i {
            width: 1.25em;
            margin-top: 2px; // HACK: Aligns the icon better at center
          }

          > .equals {
            font-weight: normal;
          }

          // Align roll bonus to top
          > .bonus {
            font-size: var(--font-size-11);
            //vertical-align: super; // Has no effect
            align-self: baseline;
            font-weight: normal;
          }
        }

        &.has-details {
          cursor: pointer;
        }
      }
    }
  }
}
